*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-oscuro: #00293b;
  --azul-medio: #046d91;
  --azul: #048bba;
  --azul-claro: #d7dfe2;
  --gris-oscuro: #5f7b85;
  --gris-claro: #7c9ca4;
}

header {
  background: var(--azul-oscuro);
  color: white;
  display: flex;
  width: 100%;
  justify-content: left; 
}

header p {
  height: auto;
  font-size: 2rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;  
}

.navbar {
  background: var(--azul-medio);  
  width: 100%;  
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;      
}

.navbar ul li {
  padding: 1rem;
  color: white;  
}

.navbar ul li:hover{
  background: var(--azul);
  text-decoration: underline;
  cursor: pointer;
}

.contenido{
  display: flex;  
  background: var(--azul);
}

main,aside{ 
  padding: 1rem;
  display: flexbox;
  list-style: none;
  width: fit-content;  
}

article{
  background: var(--azul-claro);
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 1rem;  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  line-height: 1.5;  
}

article img{
  width: auto;
  height: auto;
  border-radius: 8px;
}

article ol{
  padding-left: 1rem;
}

footer{
  background: var(--azul-medio);
  text-align: center;
  color: white;
  padding: 1rem;
  width: 100%;
}

.email{
  color: white;
}

.listNav{
  color: white;
  text-decoration: none;
}

.reservas{
  display: flex;
  

}