* {
    margin: 0px;
    padding: 0px;    
}

:root {
    --verdeOscuro : #5b846c;
    --verdeMegaOscuro : #063b1d;
    --verdeClaro :  #2bba68;
    --verdeMegaClaro : #def2e7;

}
.contenedorIzq {
    margin: 10px;
    padding: 5px;
    background-color: var(--verdeMegaClaro);
    display: flexbox;
    max-width: 40%;
}

.contenedorDer {
    margin: 10px;
    padding: 5px;
    background-color: var(--verdeMegaClaro);
    display: flexbox;
    max-width: 40%;
}

.btnImg{
    display: grid;
    justify-items: center;
    width: 80px;
    height: 80px;
        
}

body{
    background-color: #f5f5f5;        
}

table {
    width: 80%;
}
 .footerTable td {    
    color: white;
    background-color: var(--verdeClaro);
    padding: 8px;
}

.footerTable td:nth-child(even){    
    background-color: var(--verdeOscuro);
  }