body{
    background-color: #f5f5f5;
}

table {
    width: 80%;
}
td {    
    color: white;
    background-color: #2bba68;
    padding: 8px;
}

td:nth-child(even){    
    background-color: #5b846c
  }